@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,500&display=swap');

@font-face {
    font-family: abberancy;
    src: url(/font/abberancy.ttf);
  }
  
  
body
{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family:"Space Grotesk",sans-serif ;
}



.header
{
    /* background-color:#242423; */
    background: url("./images/bg-head-2.jpg") no-repeat ;
    background-size: cover;
    background-position:center bottom;
    color: #ffff;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content:space-around;
    padding: 75px 0;
}

.header-top
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-logo
{
    align-self: center;
    font-size: 150px;
    font-family: "Climate Crisis",sans-serif;
    letter-spacing: 5px;
    transition: all 0.25s;
}



.title-logo:hover
{
    transform: scale(1.2);
    text-shadow: 0 0 10px #9ef01a;
}

.desc-title
{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;
    color: #38b000;
    margin-bottom: 0;
    text-align: center;
}

section
{
    padding: 30px 60px;
}

.desc p
{
    font-size: 20px;
    margin: 40px 0;
    line-height: 1.5;
    padding: 0 15px;
    
}

.img-container img
{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
    transition: all 0.25s;
    min-width: 300px;
}

.img-container img:hover
{
    transform:scale(0.8);
    box-shadow:2px 2px 20px #000;
}

.img-container
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 50px;
    margin-top: 40px;
}



.card
{
    background-color: #c0d0c8;
}


.revolution
{
    text-align: center;
    margin-top: 40px;
}

.pencil
{
    font-size: 5rem;
}

.revolution h2
{
    font-size: 3rem;
}

.revolution p
{
    font-size: 2.5rem;
}

footer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.rev-title
{
    color: #38b000;
}



footer div
{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

footer a
{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

footer p
{
    margin: 0;
}


@media  (max-width:900px) {
    .title-logo
    {
        font-size: 90px;
    }

    .pencil
    {
        font-size: 3rem;
    }

    .revolution h2 
    {
        font-size: 2rem;
    }

    .revolution p 
    {
        font-size: 1.5rem;
    }
    
}

@media  (max-width:790px)
{
    .img-container
    {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }


    .desc p 
    {
        width: 80%;
    }
}

@media  (max-width:560px)
{
    .title-logo
    {
        font-size: 75px;
    }

    section 
    {
        padding: 30px 25px;
    }

    .img-container
    {
        padding: 0 5px;
    }

    .desc p 
    {
        font-size: 20px;
    }
    .box span 
    {
        font-size: 10px;
    }

}

@media  (max-width:500px)
{
    .title-logo
    {
        font-size: 60px;
    }

    .desc p 
    {
        width: 100%;
        font-size: 15px;
    }

    .box p 
    {
        font-size: 14px;
    }
}

@media  (max-width:400px)
{
    .title-logo
    {
        font-size: 45px;
    }

    .header-top
    {
        font-size: 10px;
    }

    

    section 
    {
        padding: 10px 20px;
    }

    .desc
    {
        margin-top: 0;
    }

    .desc-title
    {
        font-size: 25px;
    }

    .pencil
    {
        font-size: 2rem;
    }

    .revolution h2 
    {
        font-size: 1.5rem;
    }

    .revolution p 
    {
        font-size: 1rem;
    }

    .box span 
    {
        font-size: 8px;
    }

}




                        
h2 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 50px;
}
.highlight {
    color:#38b000;
}
#content {
    padding: 70px 0;
}
#content .features-list {
    padding-top: 35px;
}
.features-list .feature-block {
    margin-bottom: 18px;
}
.features-list .feature-block .ico {
    font-size: 37px;
    line-height: 70px;
    width:70px;
    height: 70px;
    background: #9ef01a;
    display: inline-block;
    border-radius: 50%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.features-list .feature-block.bottom-line .ico {
    width: auto;
    height: auto;
	background: transparent;
	color: #5accff;
	text-align: center;
	font-size: 41px;
	vertical-align: top;
	margin-top: -10px;
}
.features-list .feature-block.bottom-line .fa-github {
	font-size: 50px;
}
.features-list .feature-block.bottom-line .fa-dashboard {
	font-size: 45px;
	margin-top: -15px;
}
.features-list .feature-block.bottom-line .ico {
	float: left;
	margin-right: 15px;
	margin-left: 21px;
}
.features-list .feature-block.bottom-line .features-content {
	padding-right: 15px;
	display: table;
}
.features-list .feature-block.bottom-line .features-content .name {
	margin-bottom: 5px;
}
.features-list .feature-block.bottom-line .features-content .subname {
	font-size: 16px;
	margin-bottom: 12px;
}
.features-list .feature-block .name {
    font-size: 20px;
    line-height: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
}
.features-list .feature-block .text {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 15px;
}



/* Team */



.team-list img {
  width: 50%;
}

.team-list .content {
  width: 50%;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.team-list:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team, .team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title, .team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .member-position, .team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
  opacity: 0.6;
}

.team:hover .team-social {
  opacity: 1;
}

@media (max-width: 768px) {
  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }
  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.rounded {
    border-radius: 5px !important;
}

.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}




